stepby-api-8-229-191-182.sslip.io {
	encode gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}

	reverse_proxy 127.0.0.1:3100
}
